<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189488264527-ikcf6rhqaerd2p3tg0em6m89njjotlbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189488264527-ikcf6rhqaerd2p3tg0em6m89njjotlbi</string>
	<key>API_KEY</key>
	<string>AIzaSyC3sx5fa4deLyRc6l9g8ZGYvJAwBIyM90U</string>
	<key>GCM_SENDER_ID</key>
	<string>189488264527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telehealthcare</string>
	<key>PROJECT_ID</key>
	<string>telehealthserver</string>
	<key>STORAGE_BUCKET</key>
	<string>telehealthserver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189488264527:ios:87de812d44fb3d90d5413a</string>
	<key>DATABASE_URL</key>
	<string>https://telehealthserver-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>